@model MyMotoWorld.Web.ViewModels.Settings.MotorBikeListViewModel

@{
    this.ViewData["Title"] = "Settings";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (var motor in this.Model.MotorBike)
{
    <div>@motor.Id: @motor.Name</div>
}

<a asp-action="InsertSetting" class="btn btn-primary">Insert new</a>
