@model MyMotoWorld.Web.ViewModels.News.NewsListViewModel;

@{
    this.ViewData["Title"] = "News";
}

<head>
    <link href="/css/newscss.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<div>
    <p class="text-hide t-5">MoveDown</p>
</div>

<div class="row justify-content-around">
    <div class="col-md-4 mb-3">
        <h1 id="newstitle" class="text-center mt-4">News</h1>
    </div>
    <div>

    </div>
</div>

<div class="row justify-content-around">

    <div class="row justify-content-around col-md-7">

        @foreach (var news in Model.NewsList)
        {
        <a class="text-dark" asp-controller="News" asp-action="NewsDetails" asp-route-id="@news.Id">
            <div id="cardnews" class="card" style="width: 30rem;">
                <div id="newsimage" class="thumbnail">
                    <img class="card-img" src=@news.MainImagePath alt="News">
                </div>
                <div class="card-body">
                    <h4 class="card-title">@news.Name</h4>
                    <p class="card-text text-black-10">@news.Description</p>
                </div>
                <span class="badge badge-success">News</span>
            </div>
        </a>
        }

    </div>

    <div class="col-md-4 mt-2">

        <div class="row justify-content-center">

            <div id="989beb3ca417c470c546f29c4cf51204" class="ww-informers-box-854753">
                <p class="ww-informers-box-854754">
                    <a href="https://world-weather.info/">world-weather.info</a>
                    <br>
                    <a href="https://world-weather.info/forecast/usa/portland_2/">https://world-weather.info/forecast/usa/portland_2/</a>
                </p>
            </div>

            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/news/sidebar/52985735_2652858311408015_7992118626645704704_o-1024x768.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/news/sidebar/70661-765x510.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/news/sidebar/30531456_2159747530719098_6871570060075335680_n.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/news/sidebar/aHusDak_2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/news/sidebar/2020-Dakar-Rally-Stage12-Ricky-Brabec_19215_rallyzone-Cover.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/news/sidebar/QTUYKM5GFVC75FEXKA22IZLHBQ.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/news/sidebar/Stelvio-pass-Meteo-Ride.com6_.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>



    </div>

</div>

<hr />
<div class="row justify-content-center col-md-8">
    <partial name="_PagingPartial" model="@Model" />
</div>

<script async type="text/javascript" charset="utf-8" src="https://world-weather.info/wwinformer.php?userid=989beb3ca417c470c546f29c4cf51204"></script>