@model MyMotoWorld.Web.ViewModels.News.NewsViewModel;
@using MyMotoWorld.Common

@{
    this.ViewData["Title"] = "News";
}

<head>
    <link href="~/css/newsdetais.css" rel="stylesheet" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">

    <div class="row justify-content-between mt-3">
        <p class="nav-link text-dark">Date @DateTime.SpecifyKind(Model.NewsDate, DateTimeKind.Utc).ToString("dd-MM-yyyy ")</p>

        <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="AddToFavorit">AddToFavorit<i class="far fa-star ml-1"></i></a>
    </div>

    <div class="thumbnail">
        <img class="card-img" src=@this.Model.MainImagePath alt="news">
    </div>

    <div>
        <div class="text-center mt-3">
            <h1>@Model.Name</h1>
        </div>
        <div id="newsdescription" class="mt-3">
            @Model.Description
        </div>
    </div>

</div>