@using MyMotoWorld.Common
@{
    this.ViewData["Title"] = "Store";
}

<div class="text-center">
    <section>
    <h2 class="display-4">Store @GlobalConstants.SystemName!</h2>
    <p>
        Somtheing  Here ........
    </p>
    </section>
    <section>
        <article>

        </article>
        <article>

        </article>
        <article>

        </article>
    </section>
    <section>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </section>

</div>
