@model MyMotoWorld.Web.ViewModels.Massages.NewMessageInputModel;
@{
    this.ViewData["Title"] = "Contacts";
}

<head>
    <link href="~/css/contactsscc.css" rel="stylesheet" asp-append-version="true" />
</head>

<div class="col-md-12 mt-5">
    <p class="text-hide">Movedown</p>
</div>

<div>

    <div class="mb-4 col-md-12">


        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>

        <p class="text-center w-responsive mx-auto mb-5">
            Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
            a matter <br> of hours to help you.
        </p>

        <div class="row col-md-12">

            <div class="col-md-5 mb-md-0 mb-5 ml-5">
                <form id="contact-form"  method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" asp-for="Name" class="form-control">
                                <label asp-for="Name">Your name</label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" asp-for="Email" class="form-control">
                                <label asp-for="Email">Your email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" asp-for="Subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="message" asp-for="Massage" rows="2" class="form-control md-textarea"></textarea>
                                <label asp-for="Massage">Your message</label>
                                <span asp-validation-for="Massage" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="text-center text-md-center">
                        <input class="btn btn-primary" type="submit" asp-controller="Contacts" asp-action="NewMessage" value="Send Message"/>
                    </div>

                </form>               

            </div>

            <div class="col-md-3 mb-5">
                <img src="~/images/logos/suzukisketch.jpg" alt="SuzukiSketch" style="max-width: 450px;" />
            </div>

            <div class="col-md-2 text-center">
                <ul class="list-unstyled mb-0">
                    <li>
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Sofia, SA 1000, Bulgaria</p>
                    </li>

                    <li>
                        <i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+359 887 202 177</p>
                    </li>

                    <li>
                        <i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>mymotoworld@yahoo.com</p>
                    </li>
                </ul>
            </div>

            <div class="col-md-1 mt-4">
                <img src="/images/logos/logocontacts.png" alt="Alternate Text" />
            </div>

        </div>
        <hr />
    </div>

    <div class="row justify-content-center">
        <p>Be Welcome to our store in Sofia</p>
    </div>

    <div class="row justify-content-center">

        <div class="mapouter">
            <div class="gmap_canvas">
            <iframe width="1900" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=sofi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://sites.google.com/view/fmovies-to-org/fmovies"></a>
            </div>
        </div>
    </div>

</div>