@{
    this.ViewData["Title"] = "Admin";
}

<div class="text-center">
    <a asp-controller="Admin" asp-action="Add"><button class="btn btn-primary">Add Bike</button></a>
    <a asp-controller="Home" asp-action="Index"><button class="btn btn-primary">Go Home</button></a>
    <a asp-controller="Home" asp-action="Privacy"><button class="btn btn-primary">Go Privacy</button></a>
</div>
