<h1>Success</h1>
<div class=" alert alert-success">
    MotorBike has been successfully added to the Database
</div>
<from>
    <a asp-controller="Home" asp-action="Index"><button class="btn btn-primary">Go Home</button></a>
    <a asp-controller="Admin" asp-action="AddBike"><button class="btn btn-primary">Add Another Bike</button></a>
</from>