@using MyMotoWorld.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section>
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <a asp-area="" asp-controller="Home" asp-action="About">Go Home 4</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </section>
    <section>
        <article>

        </article>
        <article>

        </article>
        <article>

        </article>
    </section>

</div>
