* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    .menu li:hover {
        background-color: #0099cc;
    }

.aside {
    background-color: white;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    border: 3px solid #282727;
}

.card {
    border: none;
}

.card div:nth-child(1) {
    height: 190px;
    overflow: hidden;
}
.card:hover {
    transform: scale(1.1);
}
