@using MyMotoWorld.Common
@{
    this.ViewData["Title"] = "About";
}

<div class="text-center">
    <section>
    <h2 class="display-4">About @GlobalConstants.SystemName!</h2>
    <p>
        Somthning about the page ...... Somthning about the page ...... Somthning about the page ......
        Somthning about the page ...... Somthning about the page ...... Somthning about the page ......
    </p>
    </section>
    <section>
        <article>

        </article>
        <article>

        </article>
        <article>

        </article>
    </section>
    <section>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </section>

</div>
